html {
    color: #333;
}

#title {
    color: green
;}

body {
    margin: 0;
    font-family: SKY TEXT,sans-serif;
    color: white;
    background-color: black;
    overflow: visible;
}

a {
    color: inherit;
    text-decoration: none;
    fill: inherit;
}

.content-wrapper {
    height: 90vh;
}